name: Ruby

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Ruby 2.5.7
      uses: actions/setup-ruby@v1
      with:
        ruby-version: 2.5.7
    - name: Build and test
      run: |
        gem install bundler:1.16.1
        bundle install
        bin/rspec
